.env
**/*.RData
.Rhistory
**/*.quarto_ipynb
**/Rplots.pdf

/.quarto/
/_site/

lectures/**/*.html
lectures/**/*.pdf
problem_sets/**/*.html
problem_sets/**/*.pdf
index.html

lectures/**/*_cache
lectures/**/*_files
problem_sets/**/*_cache
problem_sets/**/*_files

lectures/lecture_[2-6]/