/.quarto/
/_site/
lectures/**/*.html
lectures/**/*.pdf
problem_sets/**/*.html
problem_sets/**/*.pdf
.env
**/*.RData
.Rhistory
lectures/**/*_cache
lectures/**/*_files
lectures/lecture_[2-6]/
problem_sets/**/*_cache
problem_sets/**/*_files
**/*.quarto_ipynb
**/Rplots.pdf
**/setup_report.txt
