.env
**/*.RData
.Rhistory
**/*.quarto_ipynb*
**/mathjax-config.js
**/Rplots.pdf

/.quarto/
/_site/

index_files/
lectures/**/*.html
lectures/**/*.pdf
problem_sets/**/*.html
problem_sets/**/*.pdf
index.html

lectures/**/*_cache
lectures/**/*_files
problem_sets/**/*_cache
problem_sets/**/*_files

**/*.quarto_ipynb
