/*-- scss:defaults --*/

/*-- scss:rules --*/

// figcaption {
//     margin: auto;
//     text-align: center;
//   }

.reveal ul {
	margin-bottom: 0 !important;
}

td > img {
	// Fixed datasummary_skim() tinytable image margin
	margin: 0 !important;
}

.small-output .cell-output {
	font-size: 0.7em !important;
}
.tiny-output .cell-output {
	font-size: 0.4em !important;
}

.panel-tabset-tabby {
	a {
		line-height: 0.8em !important;
		padding: 0.1em 0.25em !important;
		code {
			font-size: 0.6em !important;
		}
	}
}